/*----------------
    RESET
-----------------*/    
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1080px;
    margin: 0 auto;
}

body {
    background-color: #7b0000;
}


#container-number {
    max-width: 980px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    margin-bottom: 20px;
    justify-content: center;
}

.titolo {
    text-align: center;
    font-size: 60px;
    color: white;
}

.box {
    width: 90px;
    height: 90px;
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
   
}

.fizz {
    background-color: black;
    color: white;
}
.buzz {
    background-color: blanchedalmond;
}
.fizzbuzz {
    background-color: blueviolet;
    color: greenyellow;
}